#section_title {
    font-size: 15px;
    font-weight: bold;
}
#table_title {
    font-weight: bold;
}
#message {
    color: white;
}
#countdown {
    font-size: 25px;
    font-weight: bold;
    color: red;
}
#section_description {
    font-weight: bold;
    color: red;
}
QPushButton[class=central] {
    font-size: 35px;
    font-weight: bold;
}
QPushButton[class=actionstart] {
    font-size: 20px;
    font-weight: bold;
    min-height: 40px;
}
